<ion-header>
  <ion-toolbar>

    <ion-title>
      Inicio
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="toggleDarkMode()">
        <ion-icon
          slot="icon-only"
          [icon]="darkMode ? sunnyOutline : moonOutline">
        </ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h1>DAM2 - API REST</h1>

  <p>
    Aplicación Ionic + Angular Standalone
    para consumir una API REST.
  </p>

  <ion-button routerLink="/productos">
    Ver productos
  </ion-button>

</ion-content>